.type-button-movable {
  height: 48px;
  text-transform: uppercase;
  border-radius: 30px;
  border-style: none;
}

.button-movable-primary{
  width: 176px;
  
  background-color: #8257E5;
}
.button-movable-primary img,
.button-movable-secondary img,
.button-movable-tertiary img {
  vertical-align: middle;
}
.button-movable-secondary{
  width: 238px;
  background-color: #3C3748;
}
.button-movable-tertiary{
  width: 219px;
  background-color: #1e1e1e;
}