.type-button-focus {

  height: 48px;
  text-transform: uppercase;
  border-radius: 30px;
  border-style: none;

}

/* D9CDF7 */
.button-focus-primary {
  width: 176px;
  background-color: #8257E5;
}

.button-focus-secondary {
  width: 187px;
  background-color: #3C3748;
}

.button-focus-tertiary {
  width: 168px;
  background-color: #1e1e1e;
}